// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@use 'sass:map';

@import 'src/styles/variables.module.scss';

@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR'),
    url('/fonts/Noto_Sans_KR/NotoSansKR-Thin.otf') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR'),
    url('/fonts/Noto_Sans_KR/NotoSansKR-Light.otf') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR'),
    url('/fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR'),
    url('/fonts/Noto_Sans_KR/NotoSansKR-Medium.otf') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR'),
    url('/fonts/Noto_Sans_KR/NotoSansKR-Bold.otf') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR'),
    url('/fonts/Noto_Sans_KR/NotoSansKR-Black.otf') format('woff');
  font-weight: 700;
  font-style: normal;
}
html,
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Noto Sans KR';
}
body {
  height: 100%;
  background: linear-gradient(90deg, #3c3c3c20 50%, #ffffff 50%);
}

@media screen and (max-width: map.get($grid-breakpoints, 'md')) {
  body {
    background: unset;
  }
}

@import 'node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here
